<beans xmlns = "http://java.sun.com/xml/ns/javaee" xmlns:xsi = "http://www.w3.org/200l/XMLSchema-instance"
	   xsi:schemalocation = "http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/beans_l_O.xsd">
    
    <interceptors>
        
        <class>po.patterns.interceptor.newversion.SecurityInspector</class>
        
        <!-- <class>inc.pop.interceptor.ProfilingInterceptor</class> -->
        
    </interceptors>
    
    <decorators>
        
    </decorators>
    
</beans>