<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>Design Patterns</display-name>
	<description>Some examples of Elements of Reusable Object-Oriented Software</description>

	<servlet>
		<servlet-name>DesignPatterns</servlet-name>
		<servlet-class>po.patterns.servlets.Goo</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LookingForGalaxies</servlet-name>
		<servlet-class>po.patterns.postredirectget.galaxy.servlets.GalaxySearch</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Galaxy</servlet-name>
		<servlet-class>po.patterns.postredirectget.galaxy.servlets.Galaxies</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ChooseGalaxies</servlet-name>
		<servlet-class>po.patterns.postredirectget.galaxy.servlets.GalaxiesOfChoice</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ChoosenGalaxies</servlet-name>
		<servlet-class>po.patterns.postredirectget.galaxy.servlets.GalaxiesChoosen</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>FinalizeGalaxiesChoice</servlet-name>
		<servlet-class>po.patterns.postredirectget.galaxy.servlets.FinalizeChoice</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DesignPatterns</servlet-name>
		<url-pattern>/index.html</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Galaxy</servlet-name>
		<url-pattern>/galaxy.html</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LookingForGalaxies</servlet-name>
		<url-pattern>/searchResult.html</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ChooseGalaxies</servlet-name>
		<url-pattern>/choose.html</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ChoosenGalaxies</servlet-name>
		<url-pattern>/choosenRoute.html</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>FinalizeGalaxiesChoice</servlet-name>
		<url-pattern>/youChoice.html</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<session-timeout>80</session-timeout>
	</session-config>

</web-app>